.reviews{
    display: flex;
    justify-content: center;
    padding: 150px 0;
    background-color: #e7e7e7;
}
.reviews-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 90px 10px;
}
@media only screen and (max-width: 767px) {
    .reviews-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 90px 0;
    }
    .reviews{
       
    }
}