.dashboard-container{
    display: flex;
    justify-content: center;
}
.dashboard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
    grid-gap: 50px 5px;
}
@media only screen and (max-width: 767px) {
    .dashboard{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
}