.three-review {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.all-review-btn{
    border: none;
    background-color: greenyellow;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.three-review .command-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 20px;
}
.review-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 90px 10px;
}
@media only screen and (max-width: 767px) {

    .review-container-3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 90px 0;
    }
    
}